@keyframes scroll {
    0% {
        transform: translateY(1rem);
        opacity: 0;
    }

    10% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(0);
        opacity: 0;
    }
}

.mouse-animation>.scroll-animation {
    width: 0.25rem;
    height: 0.625rem;
    animation: scroll 3s linear infinite;
}

.mouse-animation {
    height: 2rem;
    box-sizing: content-box;
}

@keyframes spin-icon {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.spin-button {
    animation: spin-icon 5s linear infinite;
}

@keyframes love {
    50% {
        transform: translateY(1rem);
    }
}

.animate-love {
    animation: love 5s ease-in-out infinite;
}

.slide-desktop {
    transform: scale(1);
    transition: transform 10s linear;
}

.slide-desktop-active {
    transform: scale(1.15);
}

@keyframes flower-slide {
    from {
        transform: translateX(var(--x-from)) var(--flip);
        opacity: 0;
    }
    to {
        transform: translateX(0) var(--flip);
        opacity: 1;
    }
}

@keyframes float-frame {
    0%   { translate: 0 0; }
    50%  { translate: 0.3rem -0.6rem; }
    100% { translate: 0 0; }
}

@keyframes float-bg {
    0%   { translate: 0 0; }
    50%  { translate: -0.6rem -1rem; }
    100% { translate: 0 0; }
}
:root {
    --scrollY: 0px;
}

@keyframes brideFlowerSlide {
    from {
        transform: var(--flip) translateX(var(--x-from));
        opacity: 0;
    }
    to {
        transform: var(--flip) translateX(0);
        opacity: 1;
    }
}
/* ANIMASI MENGAMBANG UNTUK FOTO */
@keyframes float-frame {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
}

@keyframes slideInLeftTop {
    0% { opacity: 0; transform: translateX(-100px) scaleY(-1); }
    100% { opacity: 1; transform: translateX(0) scaleY(-1); }
}
@keyframes slideInRightTop {
    0% { opacity: 0; transform: translateX(100px) scale(-1); }
    100% { opacity: 1; transform: translateX(0) scale(-1); }
}
@keyframes slideInLeftBottom {
    0% { opacity: 0; transform: translateX(-100px) scale(1); }
    100% { opacity: 1; transform: translateX(0) scale(1); }
}
@keyframes slideInRightBottom {
    0% { opacity: 0; transform: translateX(100px) scaleX(-1); }
    100% { opacity: 1; transform: translateX(0) scaleX(-1); }
}
/* Animasi Melayang Halus */
@keyframes floatingMove {
    0% { transform: translate(0, 0) rotate(0deg); }
    33% { transform: translate(10px, -15px) rotate(5deg); }
    66% { transform: translate(-5px, 15px) rotate(-5deg); }
    100% { transform: translate(0, 0) rotate(0deg); }
}
@keyframes bounceBtn {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-10px);}
    60% {transform: translateY(-5px);}
}
